*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: helvetica, sans-serif;
  font-size: 10px;
}

.content h1 {
  font-size:1.8em;
  color:black;
  font-weight: bold;
  width: 70%
}

.content h3 {
  font-size: 1.4em;
  color:black;
  width: 90%
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
}


.location {
  background-color: #D3D3D3;
  float: left;
  padding: 3%;
  width: 100%;
}

.arrow{
  float: right;
  text-align: right;
  width: 10%;
  top: center;
  margin-top: -3em;
}

.location:hover{
  background-color:#A9A9A9;
}
